:root {
    --main-bg-color: #222222;
    --scnd-bg-color: #ffffff;
    --main-txt-color: #344CB7;
}

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    display: flex;
    width: 100vw;
    height: 15vh;
    align-items: center;
    background-color: var(--scnd-bg-color);
}

.title {
    color: var(--main-txt-color);
}

.navigation {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.navigation--list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.navigation--list-link {
    color: var(--scnd-bg-color);
}

.navigation--list-link:hover {
    color: var(--main-txt-color);
    transition: 1s;
}

.footer {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.footer--section > span {
    color: var(--scnd-bg-color);
}

.box--list {
    display: flex;
    justify-content: space-between;
}

.box--list-item {
    color: var(--scnd-bg-color);
}